* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

button {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  border: none;
}

div{
  margin: 5pt;
}

h2{
  color: #424242;
}
